*
{
	margin: 0;
	padding: 0;
	font-family: 'Arial';
	font-size: 12px;
}

#mapContainer
{
	position: relative;
}

#map
{
	background: #EEE;
}

#mapNavigation
{
	position: absolute;
	top: 60px;
	left: 30px;
	width: 44px;
	height: 190px;
	/*opacity: 0.3;
	-webkit-transition: 1s;*/
}

/*
#mapNavigation:hover
{
	opacity: 1;
}
*/

#dragContainer
{
	background: url('../img/ctrl.png');
	width: 44px;
	height: 44px;
}

#dragContainer .drag_btn
{
	position: absolute;
	width: 15px;
	height: 15px;
	background: transparent;
	border: 0;
	cursor: pointer;
}

#up
{
	left: 15px;
}

#down
{
	left: 15px;
	top: 25px;
}

#left
{
	left: 3px;
	top: 13px;
}

#right
{
	left: 26px;
	top: 13px;
}

#zoomContainer
{
	margin: 0 12px;
}

#zoomContainer .zoom_btn
{
	background: url('../img/ctrl.png');
	border: 0;
	width: 21px;
	height: 22px;
	cursor: pointer;
}

#zoomContainer .zoom_btn#zoomIn
{
	background-position: 0 -220px;
}

#zoomContainer .zoom_btn#zoomOut
{
	background-position: 0 -264px;
}

#zoomContainer .zoom_btn#zoomIn:hover
{
	background-position: 0 -242px;
}

#zoomContainer .zoom_btn#zoomOut:hover
{
	background-position: 0 -286px;
}

#copyright
{
	position: absolute;
	text-align: right;
	bottom: 5px;
	right: 20px;
	-webkit-transition: 1s;
}

#copyright:hover
{
	text-shadow: 1px 1px 3px #888;
}

#javascript_debugger, .javascript_debug_watcher
{
	position: absolute;
	top: 0;
	left: 300px;
	background: rgba(250, 250, 250, 1)!important;
	/*display: none;*/
}

.javascript_debug_watcher
{
	left: 700px;
}