body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;color:#333}
body{font:12px/1.5 \5b8b\4f53;margin:0 auto}
ul,ol,li{list-style:none outside none;word-wrap:break-word;word-break:normal}
p,h1,h2,h3{background-color:transparent}
a{color:#004276;text-decoration:none}
a:hover{color:#c00;text-decoration:underline}
h5{font-size:12px}
img{border:0}
.fl{float:left}
.fr{float:right}
.cle{clear:both}
.tr{text-align:right}
br{clear:both;width:0;height:0}
#hd,#ft{text-align:center}
#ft{border-top:1px #000 solid;line-height:24px;padding-top:5px;width:960px;margin:10px auto 0px}
.c_39{width:960px;margin:10px auto}
.g_13{width:310px}
.g_13 a{color:#000}
.g_13 a:hover{color:#c00}
.g_26{width:635px}
.g_26 a{color:#004276}
.g_26 a:hover{color:#c00}
.g_39{width:960px;margin:0 auto;clear:both}
.f12{font-size:12px}
.f14{font-size:14px}
.f12-b,.f14-b,.f16-b{font-family:arial;font-weight:bold}
.f12-b{font-size:12px}
.f14-b{font-size:14px}
.f16-b{font-size:16px}
.green{ color:#060}
.underline{ text-decoration:underline!important}
.bgF8F8F8{background:#f8f8f8}
.myon{background:#fff;border:none}
.b3-s-4273B3{border-top:#4273B3 3px solid}
.mb10{margin-bottom:10px}
.h40{height:40px}
#ad_760x90{width:760px;height:90px}
#list4{width:198px;height:88px;border:#d3d3d3 1px solid}
#list4 a{color:#333}
#list4 ul{padding:5px 0 0 10px}
#list4 li{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll -497px 2px transparent;line-height:20px;padding-left:8px}

.fixfloat:after{content:".";display:block;clear:both;visibility:hidden;height:0}
.fixfloat{ display:block;zoom:1}

.menu{margin-bottom:4px}
.subNav_logo{float:left;padding:7px 14px 0 0;font:700 18px/24px Microsoft YaHei,SimHei;color:#000;background:url(http://images.51cto.com/images/art1105/images/arrow.gif) no-repeat 100% 15px}
.subNav_l{float:left;padding:12px 0px 0px 20px}
.subNav_l a{color:#333;padding:0 1px}
.subNav_l .lastofnav{border:none}

.search{padding-top:3px;width:270px}
.search dl{height:32px;width:270px}
.search dt{height:28px;width:197px}
.search dd{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll -130px 0 transparent;width:73px;height:32px}
.search .input{background:url(http://images.51cto.com/images/art1105/images/0.gif) repeat scroll 0 -40px transparent;border-color:#B5B5B5 -moz-use-text-color #B5B5B5 #B5B5B5;border-style:solid none solid solid;border-width:1px 0 1px 1px;width:192px;height:27px;padding:3px 0 0 4px;color:#ccc}
.crumb{color:#004276;line-height:18px;background:#f8f8f8}
.crumb b{font-weight:400}
.crumb a{margin:0 6px}
.crumb a:hover{text-decoration:underline}
.brief{width:597px;padding:12px 18px 0;margin-top:10px;border:#d8d9d9 1px solid;border-bottom:none}
.brief h1{height:45px;font-size:22px;color:#000;font-weight:bold;line-height:42px;padding-top:12px;text-align:center;border-bottom:#d8d9d9 1px solid}
.brief .msg{color:#696969;line-height:36px;text-align:center;position:relative}
.brief .brieftext{background:#fff;border:#73A0CF 1px dashed;line-height:26px;padding:8px 12px}
.brief .brieftext a{margin:5px}
.brief .ad{text-align:right}
.brief .fav {width:49px;height:38px;padding:4px 0 0 8px;position:absolute;top:5px;right:0}

.tag{width:635px;line-height:18px;margin-bottom:10px;padding-top:7px;padding-bottom:4px}
.tag li{height:20px;float:left;padding:0 10px;list-style-type:decimal;list-style-position:inside;background-color:#f8f8f8}
.tagcol{width:65px;height:58px;left:-71px;top:-69px;position:absolute;background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat -71px -772px;padding-right:6px}
* html .tagcol{left:-90px;top:-68px}
.tagcol ul{line-height:26px;padding-top:4px;text-align:center;background:none}

.tagcol-a{width:65px;height:58px;left:-71px;top:-36px;position:absolute;background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat 0 -772px;padding-right:6px}
* html .tagcol-a{left:-90px;top:-36px}
.tagcol-a ul{line-height:26px;padding-top:4px;text-align:center;background:none}

.content{padding:12px 18px 0;border:#d8d9d9 1px solid;border-top:none;line-height:28px;margin-bottom:10px;position:relative;min-height:500px}
.content p{text-indent:28px; margin:10px 0;}
.content p img{text-align:center;border:0}
.content p strong{font-weight:bold;text-align:center}
.content p a{text-decoration:underline}
.content a{text-decoration:none}
.content a:hover{color:#FF0000;text-decoration:underline}
.content h2{font-size:14px;font-weight:bold;text-indent:28px}
.author{text-align:right;margin-top:10px;font-size:12px}
.tips{background:#fff;border-top:#d8d9d9 1px solid;height:27px;line-height:22px;padding:8px 10px 0 15px;margin:0 -18px;font-size:12px}
.tips .fl{_padding:3px 0 0}
.tips img{vertical-align:middle;margin-top:-3px;_margin-top:0}
.tips a{font-size:12px;text-decoration:none;color:#73A0CF}
.tips a:hover{text-decoration:underline}
.tips .fl a{padding:0 15px 0 2px}
.tips .fr a{padding:0 5px}

.page{text-align:center;padding:35px 0 25px;font-size:12px}
.page a{background:url(http://images.51cto.com/images/art1105/images/pages.gif) no-repeat;padding-left:10px;display:inline-block;margin:0 3px;color:#333}
.page a:link,.page a:visited{color:#333}
.page a span{height:20px;line-height:20px;display:inline-block;padding:2px 9px 0 0;background:url(http://images.51cto.com/images/art1105/images/pages.gif) no-repeat 100% 0;cursor:pointer}
.page a:hover{background:url(http://images.51cto.com/images/art1105/images/pages.gif) no-repeat 0 -28px;text-decoration:none}
.page a:hover span{background:url(http://images.51cto.com/images/art1105/images/pages.gif) no-repeat 100% -28px;color:#fff}
.page em{font-style:normal}
.page .prew em,.page .next em{font-size:8px;line-height:16px}
.page a.prew:link,.page a.prew:visited,.page a.next:link,.page a.next:visited{color:#005197!important}
.page #cur{display:inline-block;padding:0 14px 0;font-weight:700;color:#005197}

.docu{border-top:#d8d9d9 1px dashed;border-bottom:#d8d9d9 1px dashed;background:#fff;padding:8px 14px;_height:50px}
.docu ul li{float:left;width:280px}
.prelast{height:20px;font-size:12px;padding-top:10px;text-align:center}
.prelast li{line-height:20px;float:left;background:#f8f8f8;margin-right:15px}
.relate{margin-bottom:10px;border:#d8d9d9 1px solid;background:#f8f8f8}
.spe{border:#d8d9d9 1px solid;border-bottom:none;height:22px;padding:12px 0 0 18px}
.relateart{float:left;width:274px;padding:12px 18px 8px;margin-right:12px}
.relateart .tlt,.hotart .tlt{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat 0 -75px transparent;padding:1px 0 0 20px}
.hotart{float:left;width:274px;padding:12px 18px 8px}
.relateart ul,.hotart ul{line-height:24px}
.relateart li,.hotart li{background:#f8f8f8}
.relateart a,.hotart a{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll -497px -18px transparent;line-height:20px;padding-left:8px;color:#004276}
.topic{background:#fff;border-top:#73A0CF 1px dashed;border-bottom:#73A0CF 1px dashed;height:86px;margin:0 18px;padding:12px 0}
.topic img{border:#ccc 1px solid;padding:2px;margin:0 6px}
.topic li{float:left}
#relateTag{padding:8px 18px}
.comm{padding:0 18px;line-height:30px;height:30px;background:url(http://images.51cto.com/images/art1105/images/titbg.gif) repeat-x}
.comm em{color:#c00!important;font-style:normal}
.comm a{text-decoration:underline}
.comm a:hover{text-decoration:none}
.comm h3{background: url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat 0 -70px;font-size: 14px;font-weight: 700;padding-left: 10px}

.commlist{margin:15px 18px 0}
.commlist li{padding:0 0 12px;margin:0 0 12px;border-bottom: 1px dashed #C6DAEA}
.commhd .fl{color: #94B6D4;font-size: 12px}
.commhd .commdate {color: #94B6D4;font-size: 12px;text-align: right}
.commcon{font-size:14px;line-height:1.5;padding:4px 0 0}
.commlist .last{border-bottom:none!important}
.comm .tlt{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -76px transparent;padding-left:10px;color:#000;font-size:14px;font-weight:bold}
.comm p,.comm .bg1{border-bottom:#C6DAEA 1px dashed;padding-bottom:10px}
.comm .no_border{border:0}
.test3{border:#c2c2c2 1px solid;width:50px;height:20px;font-size:12px}
.test1{border:#c2c2c2 1px solid;width:100px;height:20px;font-size:12px}
.test2{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 250px -545px transparent;width:588px;height:60px;border:#73A0CF 1px solid}
.sendMsg{border:#d8d9d9 1px solid;border-top:none;padding:0 18px}
.sendMsg dl{width:590px;height:18px;padding-top:10px}
.sendMsg dt{float:left}
.sendMsg dd{text-align:right}
.sendMsg .tlt{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -76px transparent;padding-left:10px;color:#000}
.sendMsg a{text-decoration:underline}
.sendMsg a:hover{text-decoration:none}
.txt{border-top:#d8d9d9 1px solid;padding:0 18px}
.txt a{text-decoration:underline}
.txt a:hover{text-decoration:none}
.txt .tlt{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -76px transparent;padding-left:10px;color:#000;font-size:14px;font-weight:bold}
.txt dl{width:590px;height:18px;padding:10px 0;background:#f8f8f8}
.txt dt{float:left}
.txt dd{text-align:right;background:#f8f8f8}
.txt .editor{padding:8px 0}
.txtinput{background:url(http://images.51cto.com/images/art1105/images/areabg.jpg) no-repeat 97% 10px #fff;width:584px;height:60px;border:#73A0CF 1px solid;color:#b0b0b0;padding:2px}
.searchInput2{border:#c2c2c2 1px solid;width:50px;height:10px;font-size:12px}
.focus{border:#d8d9d9 1px solid;margin-bottom:10px;width:300px;padding:0 3px 5px 5px;margin:10px 0}
.focus ul li{line-height:18px;margin:0 0 6px 0}
.focus .tit a{marigin-right:10px;line-height:24px;font-family:arial;font-weight:bold;font-size:14px}
.focus .tit em{width:40px;height:18px;background-color:#c00;color:#fff;font-size:14px;font-weight:bold;text-align:center;display:block;padding-top:4px;float:left;margin:0 5px 0 0;font-style:normal}
.focus dl{width:286px;height:70px}
.focus dt{width:145px;height:70px;float:left}
.focus dd{width:135px;height:70px;float:left;line-height:22px}
.rank{border:#d8d9d9 1px solid;margin-bottom:10px}
.rank .tlt{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -276px transparent;height:30px}
.rank .tlt a{width:56px;height:22px;text-align:center;float:right;display:block;padding-top:8px;border-left:#d8d9d9 1px solid}
.rank h3{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -76px transparent;float:left;font-size:14px;font-weight:bold;height:20px;margin:5px 0 0 8px;padding-left:10px}
.rank h3 em{color:#c00;font-style:normal}
.rank ul{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -306px transparent;line-height:24px;margin:6px 0 0 8px;padding-left:22px}
.tagCloud{border:#d8d9d9 1px solid;margin-bottom:10px;width:310px;padding-bottom:4px}
.tagCloud a{text-decoration:none;color:#004276}
.tagCloud a:hover{text-decoration:underline}
.tagCloud .tlt{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -276px transparent;height:30px}
.tagCloud .taglist{padding:5px 0 5px 10px;line-height:24px}
.tagCloud .taglist .imp{color:#f00;font-weight:700;font-size:14px}
.taglist a{ display:inline-block;padding-right:10px}
.tagCloud h3{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -76px transparent;float:left;font-size:14px;font-weight:bold;height:20px;margin:5px 0 0 8px;padding-left:10px}
.tagCloud ul{line-height:20px;padding:6px 0 10px 12px}
.tagCloud li{width:60px;float:left;margin-right:5px}
.rss{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -630px transparent;border:#d8d9d9 1px solid;height:115px;margin-bottom:10px}
.rss a{text-decoration:underline;color:#004276}
.searchInput3 {width:141px;height:18px;border-bottom:1px solid #BE390A;border-left:1px solid #BE390A;border-top:1px solid #BE390A;display:block;padding:0;color:#000}
.rss ul {padding-right:14px;text-align:right;padding-top:50px;height:20px}
.rss dl {width:205px;height:20px;padding:8px 0 0 90px}
.rss dt {width:143px;height:20px;float:left}
.rss dd {width:57px;height:20px;float:left}

.more{height:15px;float:right;display:block;padding:7px 10px 0 0}
.tj{border:#d8d9d9 1px solid;margin-bottom:10px;width:310px}
.tj .tlt{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -276px transparent;height:30px}
.tj h3{background:url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat scroll 0 -76px transparent;float:left;height:20px;font-size:14px;font-weight:bold;margin:5px 0 0 8px;padding-left:10px}
.tj ul{line-height:24px;margin:6px 0 5px 12px}
.tj li{background:url(http://images.51cto.com/images/art1105/images/dian.gif) no-repeat 0 50%;padding-left:10px}
.tj .nostyle li{background:none;padding:0px}
.picAD{border:#d8d9d9 1px solid;padding:3px}

pre{font-family:'Courier New' , Monospace;font-size:12px;width:99%;overflow:auto;margin:0 0 1em 0;background:#E6E6E6}
pre ol, pre ol li, pre ol li span{margin:0 0;padding:0;border:none}
pre a, pre a:hover{background:none;border:none;padding:0;margin:0}
pre ol li{ background:url(http://images.51cto.com/images/art1105/images/0.gif) repeat-y scroll -498px -70px!important}
/* 10-15ÐÞ¸Ä */
pre ol{list-style:decimal;background:#F7F7F7;margin:0px 0px 1px 3em !important;padding:5px 0;color:#5C5C5C}
pre ol li{list-style-type:decimal;background:url(http://images.51cto.com/images/art1105/images/0.gif) repeat-y scroll -498px -70px transparent;list-style-position:outside !important;color:#5C5C5C;padding:0 3px 0 10px !important;margin:0 !important;line-height:18px}
/* 10-15ÐÞ¸Ä */
pre ol li.alt{color:inherit}
pre ol li span{color:black;background-color:inherit}
pre .comment, pre .comments{color:#008200;background-color:inherit}
pre .string{color:blue;background-color:inherit}
pre .keyword{color:#069;font-weight:bold;background-color:inherit}
pre .preprocessor{color:gray;background-color:inherit}
pre .dp-xml .cdata{color:#ff1493}
pre .dp-xml .tag, pre .dp-xml .tag-name{color:#069;font-weight:bold}
pre .dp-xml .attribute{color:red}
pre .dp-xml .attribute-value{color:blue}
pre .dp-sql .func{color:#ff1493}
pre .dp-sql .op{color:#808080}
pre .dp-rb .symbol{color:#a70}
pre .dp-rb .variable{color:#a70;font-weight:bold}
pre .dp-py .builtins{color:#ff1493}
pre .dp-py .magicmethods{color:#808080}
pre .dp-py .exceptions{color:brown}
pre .dp-py .types{color:brown;font-style:italic}
pre .dp-py .commonlibs{color:#8A2BE2;font-style:italic}
pre .dp-j .annotation{color:#646464}
pre .dp-j .number{color:#C00000}
pre .dp-delphi .number{color:blue}
pre .dp-delphi .directive{color:#008284}
pre .dp-delphi .vars{color:#000}
pre .dp-css .value{color:black}
pre .dp-css .important{color:red}
pre .dp-c .vars{color:#d00}
pre .dp-cpp .datatypes{color:#2E8B57;font-weight:bold}
/* 10-15 */
.content ul{margin-left:35px}
.content ul li {background:url(http://images.51cto.com/images/art1105/images/list.jpg) no-repeat 0 50%;padding-left:10px}
.content ol li {list-style-type:decimal}
.content ol li a{ text-decoration:underline}
.content ol{margin-left:55px} 
/* 10-15 */
.rank ul li{width: 270px;overflow: hidden;white-space:nowrap}

/*201104*/
.c666{color:#666}.rel{position:relative}
.pl10{padding-left:10px}.pl15{padding-left:15px}
.bor{border:1px solid #D8D9D9}
.fl{float:left}
.fr{float:right}
.blue,.blue a,.blue a:link,.blue a:visited,a.blue:link,a.blue:visited{color:#004276}
.blank10{height:10px;overflow:hidden;clear:both}.blank1{height:1px;overflow:hidden;clear:both}
.b{font-weight:700}
.biaoqing{padding:20px 0 0 20px;height:130px}
.biaoqing li{width:82px;float:left;text-align:center;line-height:24px;padding-left:0!important; background:none!important}
.biaoqing li div{color:#005fab}
.biaoqing li span{display:block;font-size:12px}

.titbg{ background:url(http://images.51cto.com/images/art1105/images/titbg.gif) repeat-x;height:30px;line-height:30px}
.titbg a{padding:0 4px}
.titbg .t1{background: url(http://images.51cto.com/images/art1105/images/0.gif) no-repeat 10px -70px;font-size: 14px;font-weight: 700;padding-left: 20px}
.titbg .t2{font-size: 14px;font-weight: 700;padding-left: 12px}
.tmore{padding:5px 10px 0 0;float:right}
.tmore li a:link,.tmore li a:visited{color:#333}

.list02 li{background:url(http://images.51cto.com/images/art1105/images/list.jpg) no-repeat 0 50%;padding-left:10px;line-height:24px}
.list03{padding:7px 0 8px 12px}
.list03 li{background:url(http://images.51cto.com/images/art1105/images/dian.gif) no-repeat 0 50%;padding-left:10px;line-height:24px}

.reltag{padding:15px 0 0 15px;height:125px}
.reltag .fl{width:310px;border-right:1px dashed #d8d9d9}
.reltag .fr{width:277px;padding-right:10px;line-height:22px}.reltag .fr .h5{padding-bottom:3px}
.reltag .fr img{padding:2px;border:1px solid #ccc;float:left;margin-right:10px}

.relart,.cathot{width:307px}
.relart ul,.cathot ul{padding:10px 0 8px 14px}
.relart li,.cathot li{background:url(http://images.51cto.com/images/art1105/images/dian.gif) no-repeat 0 50%;padding-left:10px;line-height:24px}
.relart li a:link,.cathot li a:link,.relart li a:visited,.cathot li a:visited{color:#333}

.xtlist{margin:12px 0 5px 12px}
.xtlist li{width:600px;height:30px;border-bottom:1px dashed #c6daea;margin:0 0 7px}
.xtlist li.last{border-bottom:none!important}
.xtlist .tit{ background:#005197;height:19px;float:left;padding:3px 0 0;width:80px; text-align:center;color:#fff;margin:2px 0 0 0;display:inline;font-weight:400;font-size:12px}
.xtlist div{float:right;height:26px;line-height:26px;padding:3px 0 0;width:510px}
.xtlist .oddbg{ background:#f8f8f8}
.xtlist div a{padding:0 5px}

.hotTag{height:36px;line-height:36px;padding:0 0 0 14px}
.hotTag a{padding:0 12px 0 0}

.jdlist{height:176px}
.jdlist li{width:115px;float:left;text-align:center;background:#fbfbfb;height:127px;padding-top:8px;margin:4px 0 0 7px;display:inline}
.jdlist li a{display:block} 

.hot{ background:url(http://images.51cto.com/images/art1105/images/hotbg.gif) no-repeat;height:186px;padding:10px 0 0 9px;margin:5px 0 0}
.hot ul{padding:0 0 0 3px}
.adtxtlist{margin:0 18px 0 4px;padding:6px 0 0;color:#0072a7}
.adtxtlist p{color:#0072a7}
.adtxtlist li{background:url(http://images.51cto.com/images/art1105/images/list.jpg) no-repeat 3px 6px;padding-left:14px;line-height:20px}
.adtxtlist li a:link,.adtxtlist li a:visited{color:#0072a7}

.hotlist{border-top:1px dashed #ccc;margin:10px 18px 0 4px;padding:6px 0 0}
.hotlist li{background:url(http://images.51cto.com/images/art1105/images/list.jpg) no-repeat 4px 50%;padding-left:14px;line-height:24px}

.plist01{margin:12px 10px 0 12px}
.plist01 li{height:100px;clear:both;line-height:22px}
.plist01 img{ float:left;margin-right:10px;border:1px solid #ccc;padding:2px}

.webhot{height:127px;padding-top:11px;background:url(http://images.51cto.com/images/art1105/images/bgx.jpg) repeat-x;}
.webhot ul{margin:0 0 7px 4px;}
.webhot li{width:136px;float:left;text-align:center;margin:0 7px; display:inline; line-height:18px}
.webhot li img{margin-bottom:5px;width:136px;height:70px}
.webhot li a{ display:block}

.catbook{ background:url(http://images.51cto.com/images/art1105/images/bgx.jpg) repeat-x;height:116px;padding:11px 0 0 14px}
.catbook img{border:1px solid #373737;float:left;margin-right:10px}
.catbook .text{ line-height:20px;padding:5px 5px 0 0}

.blogtj{ height:78px;border-bottom:1px dashed #d8d9d9;margin:11px 15px 0}
.blogtj li h5{ font-weight:700;padding:4px 0 5px}
.blogtj li p{line-height:20px}
.blogtj li img{ float:left;margin-right:10px}
.blogtj li{width:132px;padding:0 5px 0 0;float:left}