*
{
	font-family:Tahoma; /*"Î¢ÈíÑÅºÚ";*/
	font-size:14px;
	color:#333;
	text-decoration:none;
}

body
{
	
}

a
{
	color:#266392;
}

h1
{
	font-size:20px;
	font-weight:bolder;
	height:26px;
	line-height:26px;
	background:#fafafa url('../image/h1-l.gif') no-repeat;
	text-indent:14px;
	margin:10px 0;
	border:#e9e9e9 1px solid;
}

h3
{
	
}

#container
{
	
}

#header
{
	height:86px;
	background:url('../image/logo.gif') no-repeat 40px 10px;
}

#middle
{
	background:url('../image/mid-r.gif') repeat-y 0 right;
}

#menu
{
	background:#33cff6;
	height:34px;
	text-align:center;
}

#menu ul li
{
	line-height:34px;
	width:80px;
}

#menu ul li:hover
{
	background:#c0e9f3;
}

#menu ul li.slct
{
	background:#c0e9f3;
}

#menu a
{
	color:white;
	font-weight:bold;
}

#content
{

}

#rightsidebar
{

}

#footer
{
	background:#33cff6;
	text-align:center;
	height:50px;
	line-height:40px;
	color:white;
}

#eventForm
{
	
}


.datePad
{
	width:70px;
	text-align:center;
	font-weight:bold;
}

.dateD
{
	font-size:30px;
	height:40px;
	line-height:40px;
	background:#FAFAFA;
	color:#af1616;
}

.dateYM
{
	height:18px;
	line-height:18px;
	background:#C0E9F3;
}

#eventList li
{
	margin:5px 0;
	border:#E9E9E9 1px dashed;
}

#eventList li  p
{
	line-height:28px;
}

.evtTitle
{
	border-bottom:#e9e9e9 1px solid;
	padding:4px 0;
}

.evtTime
{
	color:#888;
}

.evtTime span
{
	margin-left:30px;
	color:#888;
}

.edit i, .delete i
{
	visibility:hidden;
	width:12px;
}

.operation
{
	margin-top:8px;
	display:none;
}

#eventList li:hover .operation
{
	display:inline;
}

.edit
{
	background:url('../image/edit.png') no-repeat;
}

.delete
{
	background:url('../image/delete.png') no-repeat;
}

#rightsidebar h1
{
	background:#33cff6;
	border:#33cff6 1px solid;
	color:#fff;
}

.categoryCount
{
	color:#af1616;
	padding-left:15px;
}

#categoryDiv table
{
	margin-left:14px;
}

#categoryDiv tr
{
	height:20px;
}

#addEvent form
{
	margin-left:14px;
}

#addEvent tr
{
	height:28px;
}

#attributes textarea
{
	width:200px;
}

#attributes input[type='text']
{
	width:200px;
}

.rdSel
{

}

.rdunSel
{
	color:#888;
}

.tdName
{
	font-weight:bold;
	text-align:right;
	padding-right:10px;
}

#logoContainer
{
	background:url('../image/logo.gif') no-repeat;
}