* { padding:0; margin:0}
html,body { width:100%; height:100%; overflow:hidden; border:none}
body { font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#dfe8f6;}
input,select,textarea { font-family:Arial, Helvetica, sans-serif; font-size:12px;}
img { border:none}
ul { list-style-type:none}

.ipt { border:1px solid #b5b8c8; padding:2px; background:url(../images/text-bg.gif) repeat-x;}

.box {zoom:1; height:100%}
.header { height:60px; background:url(../images/panel-title-light-bg.gif) repeat-x; overflow:hidden; border:1px solid #8db2e3; border-bottom:none; margin:1px 1px 0 1px; position:relative}
.header h1 { font-size:18px; font-family:Tahoma; height:60px; line-height:60px; padding-left:1em; color:#00357c}
.header h1 img { margin-top:15px; margin-bottom:-10px}
.version { position:absolute; right:0.5em; top:0.5em; color:#175bb5; font-size:11px}
.version a {color:#175bb5; margin:0 3px; text-decoration:none; font-size:10px;font-family:Tahoma, Arial, Helvetica, sans-serif;}
.version a:hover { text-decoration:underline}
.version em { font-style:normal; margin-left:2px}
.nav { background:#dfe8f6;padding:2px 4px; height:22px; overflow:hidden; display:none}
.mainBox {background:#fff; position:relative; zoom:1}
.lefter { position:absolute; left:1px; top:0; width:200px; background:#fff; border:1px solid #8db2e3; height:100%; overflow:hidden}
.expandcollapse { position:absolute; right:0.3em; top:0.2em; background:none; border:none; width:18px; height:16px}
.mainPaddingLeft { padding-left:204px;zoom:1}
.splitLineV { width:5px; height:500px; overflow:hidden; background:url(../images/e-handle.gif) no-repeat -11px center #d6e8fd; position:absolute; left:203px; border-top:1px solid #8db2e3; border-bottom:1px solid #8db2e3; cursor:e-resize; z-index:100}
.main { border:1px solid #8db2e3; margin:0 1px 0 4px; zoom:1; position:relative}
.keyword { width:176px; font-size:11px}

.otherTab { position:absolute; right:2px; top:23px; z-index:999; width:172px; height:auto; background:#f6faff; border:1px solid #8db2e3; filter:alpha(opacity=94); padding:0.4em; overflow:hidden}
.otherTab #otherTabBox {
	scrollbar-face-color: #f2f2f2;
	scrollbar-highlight-color: #f6faff;
	scrollbar-shadow-color: #cccccc;
	scrollbar-3dlight-color: #dddddd;
	scrollbar-arrow-color: #336000;
	scrollbar-track-color: #f6faff;
	scrollbar-darkshadow-color: #ffffff;
	overflow-y:scroll; overflow-x:hidden;
	max-height:297px;
	height:auto;
	_height:297px;
	border:1px solid #e8eef7;
	padding:2px;
	width:166px;
}
.otherTab li { zoom:1; width:100%}
.otherTab li em { font-style:normal}
.otherTab li a { color:#3267ac; text-decoration:none; display:block; width:134px; padding:3px 3px 3px 12px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; background:url(../images/arrow_squre.gif) no-repeat 3px center;}
.otherTab li a:hover { background-color:#fff; border:1px solid #8db2e3; padding:2px 2px 2px 11px; color:#000}
.otherTab li a.closeTab { display:none}

.tabList { background:url(../images/tab-strip-bg.gif) repeat-x left 0 #d8e3f3; height:23px; padding-left:2px; padding-right:27px; }

.tabList li{ float:left; margin-right:2px; position:relative; width:130px; z-index:7; padding-top:2px; height:20px;}
.tabList li a { text-decoration:none; color:#000; display:block; height:21px; line-height:21px; background:url(../images/tabs-sprite.gif) no-repeat 0 -51px; padding-left:10px; overflow:hidden}
.tabList li em {  height:21px; line-height:21px; display:block; background:url(../images/tabs-sprite.gif) no-repeat right -351px;padding-right:16px; font-style:normal}
.tabList li span { height:21px; line-height:24px; display:block; background:url(../images/tabs-sprite.gif) repeat-x left -201px; width:104px; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; overflow:hidden}

.tabList li a:hover {background-position:0 -101px;}
.tabList li a:hover em {background-position:right -401px;}
.tabList li a:hover span {background-position:0 -251px;}

.tabList li a.cur { height:22px; line-height:22px; background:url(../images/tabs-sprite.gif) no-repeat 0 0; position:relative; margin-bottom:-1px}
.tabList li a.cur em {  height:22px; line-height:22px; background:url(../images/tabs-sprite.gif) no-repeat right -301px;}
.tabList li a.cur span { height:22px; line-height:24px;  background:url(../images/tabs-sprite.gif) repeat-x left -151px; color:#15428b; font-weight:bold;}

.tabList li a.cur:hover {background-position:0 0}
.tabList li a.cur:hover em{background-position:right -301px}
.tabList li a.cur:hover span{background-position:0 -151px}

.tabList li a.closeTab { position:absolute; right:3px; top:5px; width:11px; height:11px; overflow:hidden; background:url(../images/tab-close.gif) no-repeat 0 0; padding:0; z-index:11}
.tabList li a.closeTab:hover {background-position:0 0}


.indexTab li{width:42px;}
.indexTab li a { text-decoration:none; color:#000; display:block; height:21px; line-height:21px; background:url(../images/tabs-sprite.gif) no-repeat 0 -51px; padding-left:6px;}
.indexTab li em {  width:30px; padding-right:6px}
.indexTab li span {  width:30px; text-align:center}

.floatLineV { width:5px; background:url(../images/multidashed.gif) repeat; position:absolute; height:100%; z-index:9999; cursor:e-resize}

.otherTabHandle {width:25px; height:21px; position:absolute; right:2px; top:2px; z-index:999; overflow:hidden; background:url(../images/tabs-list.gif) no-repeat 0 0;}
.tabArrowHigh { background-position:0 -50px; cursor:pointer; }
.tabArrowHigh2 {height:22px; z-index:1000; background-position:0 -50px;}

.tabArrow { zoom:1}