/* CSS Document */
*{ padding:0; margin:0}
html { overflow:hidden;}
html,body { height:100%; border:none;}
body { font-family:"Courier New", Courier, monospace; font-size:12px; background:#FFF; padding:0em 1em; overflow-y:auto; 
		scrollbar-face-color: #f2f2f2;
		scrollbar-highlight-color: #ffffff;
		scrollbar-shadow-color: #cccccc;
		scrollbar-3dlight-color: #dddddd;
		scrollbar-arrow-color: #336000;
		scrollbar-track-color: #fff;
		scrollbar-darkshadow-color: #ffffff;	
		
}
input,select,textarea,button { font-size:12px}
a {color:#000; text-decoration:underline}
a:hover { color:#3366CC}

h1 { font-size:1.5em; font-family:Arial, Helvetica, sans-serif; margin-top:1em; padding:0.7em; background:#f6faff; border:1px solid #b5d6ff}
h1 em { font-size:0.88em; font-family:Tahoma;font-weight:normal; color:#454545; margin:0 0.2em}
h1 strong { margin-left:2em}
p.code{ margin: 1em 2em; padding:1em; border:1px solid #98c0f4; background:#fff; font-family:Fixedsys,Tahoma; line-height:1.8em; zoom:1}
.info { font-size:1.2em; margin:1.5em 0;}
h2 { font-size:1.2em; margin-top:2em}
.p { margin:1em 2em; line-height:2em}
dl.p dd { margin:1em 2em}
dl dt em{ font-size:1.2em}

span.core { }
span.comment { color:green}

p.copyright { border-top:1px solid #ddd; margin-top:3em; padding:0.6em;}
p.copyright a { color:blue}

/* comment */
.feedback { position:absolute; right:1.28em; top:0.0em; background:#eef5fd; border:1px double #98c0f4; padding:2px}
.feedback a { color:#0e69f3; text-decoration:none}
.feedback a:hover {text-decoration:underline}
.apicomment {border:1px solid #6593cf; background:#bbd4f6; position:absolute; left:50%; top:50%;}
.commentTitle { background:url(../images/hd-sprite.gif) repeat-x left -82px; height:24px;  color:#fff; line-height:24px; padding-left:0.5em; font-size:12px;}
.apicomment .winToolbar { position:absolute; right:0.3em; top:0.3em; height:15px; width:15px; cursor:pointer;}
.tagList { list-style:none; margin:0.5em 0 0 1em; zoom:1}
.tagList li {float:left; margin-right:1px; background:url(../images/tab-sprite.gif) no-repeat right -50px; height:22px;}
.tagList li.curTag {background:url(../images/tab-sprite.gif) no-repeat right 0px; height:23px; margin-bottom:-1px;  position:relative;}
.tagList li.curTag a {background:url(../images/tab-sprite.gif) no-repeat left -100px; color:#083772; height:23px; line-height:23px;}
.tagList li a { float:left; height:22px; line-height:22px; text-decoration:none; padding:0 1.3em; background:url(../images/tab-sprite.gif) no-repeat left -150px; color:#5c697a; font-weight:bold}
.cmtBox { clear:both;  margin:0 0.5em 0.5em 0.5em;  background:#fff; border:1px solid #6593cf }
.cmtContent {  padding:0em;}

.cmtSend { margin:1.5em 0 0 0; padding:0.5em}
.cmtSend div.q { clear:both; text-align:left; margin:0.6em 0; zoom:1}
.cmtSend div.q label { float:left; width:20%; text-align:right; line-height:22px;}
.cmtSend div.q input { border:1px solid #b5b8c8; background:url(../images/text-bg.gif) repeat-x left top; height:19px; line-height:19px; width:70%; padding:0 1px}
.cmtSend div.q em { font-style:normal; color:#f30}
.cmtSend div.q textarea { vertical-align:top;overflow:auto;border:1px solid #b5b8c8; background:url(../images/text-bg.gif) repeat-x left top; width:70%; padding:1px; height:100px}
.cmtSend div.q label.btnLabel { padding:0; width:auto; float:right; background:url(../images/btn-sprite.gif) no-repeat right 0; height:21px; margin:0 0.2em}
.cmtSend div.q button {  padding:0; margin:0; border:none; width:52px; background:none; height:25px}
.cmtSend div.q button span { float:left; background:url(../images/btn-bg.gif) no-repeat right top; height:21px; width:99%;}
.cmtSend div.q button label {background:url(../images/btn-bg.gif) no-repeat left -21px; float:left; padding:0; height:21px; line-height:21px; width:99%; text-align:center}
.cmtList { height:100%; overflow-y:scroll}
.cmtSend div.q button label {}
.cmtList ol.list { margin:1em; list-style:none; font-family:Tahoma; color:#666}
.cmtList ol.list li { margin-bottom:1em; padding:0.5em 0.5em 1em 0.5em; border-bottom:1px dashed #ccc; white-space:normal; word-break:break-all;}
.cmtList ol.list li h6 {font-size:11px; margin-bottom:0.5em; font-weight:normal; color:#285496}

h1 a.comment { float:right; font-size:12px; font-weight:normal; margin-top:3px}

.footer { padding:1em; border-top:1px solid #ccc; text-align:center}
.footer a {color:#0000ff}