.datePicker
{
	position:absolute;
	display:none;
	-webkit-border-radius:3px;
	width:234px;
	height:auto;
	border:#000 1px solid;
	padding:0 0 3px 0;
	-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.8);
	background:rgba(0, 0, 0, 0.2);
}

.datePicker *
{
	color:#8A8A8A;
}
.datePicker .back
{
	position:absolute;
	-webkit-border-radius:3px;
	width:232px;
	border:#FFF 1px solid;
}

.datePicker .YM, .datePicker .week
{
	display:block;
	-webkit-border-radius:3px;
	text-align:center;
	margin:3px;
	height:30px;
	line-height:30px;
	background:#FFF;
	border:#8A8A8A 1px solid;
}

.datePicker .prevY, .datePicker .prevM, .datePicker .nextM, .datePicker .nextY
{
	position:absolute;
	top:4px;
	background:url('../../img/widget/dp-YM.png') no-repeat;
	display:block;
	width:12px;
	height:30px;
	cursor:pointer;
}

.datePicker .prevY
{
	left:10px;
}

.datePicker .prevM
{
	background-position:0 -30px;
	left:30px;
}

.datePicker .nextM
{
	background-position:0 -90px;
	right:30px;
}

.datePicker .nextY
{
	background-position:0 -60px;
	right:10px;
}

.datePicker .week
{
	text-align:left;
}
	
.datePicker .week b
{
	display:inline-block;
	width:30px;
	margin-right:3px;
	text-align:center;
}

.datePicker .date 
{
	position:relative;
	margin-top:-3px;
	z-index:2;
}

.datePicker .date span
{
	display:inline-block;
	background:#FFF;
	width:28px;
	height:28px;
	text-align:center;
	line-height:28px;
	margin:3px 0 0 3px;
	border:#8A8A8A 1px solid;
	-webkit-border-radius:3px;
	cursor:pointer;
}

.datePicker .date span:hover
{
	-webkit-box-shadow:0px 0px 1px 1px #AF1616;
}

.datePicker .date span.lastM, .datePicker .date span.followM
{
	background:#EEE;
}

.datePicker .today
{
	-webkit-box-shadow:0px 0px 1px 2px #33CFF6;
}

.mask.dp
{
	background:none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}