.datePicker
{
	position:absolute;
	display:none;
	-webkit-border-radius:3px;
	width:234px;
	height:auto;
	border:#000 1px solid;
	padding:0 0 3px 0;
	-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.8);
	background:rgba(0, 0, 0, 0.2);
}

.datePicker *
{
	color:#8A8A8A;
}
.back
{
	position:absolute;
	-webkit-border-radius:3px;
	width:232px;
	border:#FFF 1px solid;
}

.YM, .week
{
	display:block;
	-webkit-border-radius:3px;
	text-align:center;
	margin:3px;
	height:30px;
	line-height:30px;
	background:#FFF;
	border:#8A8A8A 1px solid;
}

.prevY, .prevM, .nextM, .nextY
{
	position:absolute;
	top:4px;
	background:url('../image/theme_1/dp-YM.png') no-repeat;
	display:block;
	width:12px;
	height:30px;
	cursor:pointer;
}

.prevY
{
	left:10px;
}

.prevM
{
	background-position:0 -30px;
	left:30px;
}

.nextM
{
	background-position:0 -90px;
	right:30px;
}

.nextY
{
	background-position:0 -60px;
	right:10px;
}

.week
{
	text-align:left;
}
	
.week b
{
	display:inline-block;
	width:30px;
	margin-right:3px;
	text-align:center;
}

.date 
{
	position:relative;
	margin-top:-3px;
	z-index:2;
}

.date span
{
	display:inline-block;
	background:#FFF;
	width:28px;
	height:28px;
	text-align:center;
	line-height:28px;
	margin:3px 0 0 3px;
	border:#8A8A8A 1px solid;
	-webkit-border-radius:3px;
	cursor:pointer;
}

.date span:hover
{
	-webkit-box-shadow:0px 0px 1px 1px #AF1616;
}

.date span.lastM, .date span.followM
{
	background:#EEE;
}

.today
{
	-webkit-box-shadow:0px 0px 1px 2px #33CFF6;
}

.mask.dp
{
	background:none;
}