/*-----------#date-------------*/
#date
{
	padding: 10px 30px;
}

#date a
{
	color: #fff;
	font-weight: bold;
	height: 2.5em;
	line-height: 2.5em;
	text-decoration: none;
}

#date a:hover
{
	text-decoration: underline;
}

#date a:visited
{
	color: #ddd;
}

/*-----------#login, #upload-------------*/
#login, #upload
{
	text-align:center;
}

#file, #command
{
	width: 80%;
	margin: 50px auto 20px;
}

