
.nav {
	BACKGROUND: url(navbg.gif); HEIGHT: 26px; COLOR: #fff; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.nav A {
	MARGIN: 0px 15px; COLOR: #fff
}

#navigation {
	WIDTH: 1003px; BACKGROUND: url(Img253665885.gif); HEIGHT: 99px
}
#navigation .row1 .w73 {
	TEXT-ALIGN: center; WIDTH: 73px; FLOAT: left; HEIGHT: 20px; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
#navigation .row2 .w73 {
	TEXT-ALIGN: center; WIDTH: 73px; FLOAT: left; HEIGHT: 22px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
#navigation .row1 .w877 {
	TEXT-ALIGN: left; PADDING-LEFT: 12px; WIDTH: 918px; FLOAT: right; HEIGHT: 24px; PADDING-TOP: 8px
}
#navigation .row2 .w877 {
	TEXT-ALIGN: left; WIDTH: 918px; FLOAT: right; HEIGHT: 22px; PADDING-TOP: 10px
}
#navigation .row1 IMG {
	MARGIN: -3px 11px 0px; VERTICAL-ALIGN: middle
}
#navigation .row2 IMG {
	MARGIN: -5px 12px 0px; VERTICAL-ALIGN: middle
}
#navigation .fc_004488 {
	COLOR: #004488
}
#navigation .fc_004488 A {
	COLOR: #004488
}
#navigation .fc_ffffff {
	COLOR: #fff
}
#navigation .fc_ffffff A {
	COLOR: #fff
}
#navigation SPAN {
	MARGIN-TOP: -5px; FLOAT: right; MARGIN-RIGHT: 10px
}
#navigation SPAN INPUT {
	BORDER-BOTTOM: #5d5d5d 1px solid; BORDER-LEFT: #5d5d5d 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 19px; BORDER-TOP: #5d5d5d 1px solid; BORDER-RIGHT: #5d5d5d 1px solid; PADDING-TOP: 0px
}
#navigation .row2 SPAN IMG {
	MARGIN: -7px 10px 0px 0px
}

#nav {
	LIST-STYLE-TYPE: none; BACKGROUND: #ffeedc
}
#nav A {
	TEXT-ALIGN: center; DISPLAY: block
}
#nav A:link {
	TEXT-DECORATION: none
}
#nav A:visited {
	TEXT-DECORATION: none
}
#nav A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav LI {
	FLOAT: left
}
#nav LI A:hover {
	TEXT-DECORATION: underline
}
#nav LI UL {
	POSITION: absolute; TEXT-ALIGN: left; LINE-HEIGHT: 27px; LIST-STYLE-TYPE: none; WIDTH: 130px; LEFT: -999em
}
#nav LI UL LI {
	WIDTH: 130px; BACKGROUND: #f6f6f6; FLOAT: left
}
#nav LI UL A {
	TEXT-ALIGN: left; PADDING-LEFT: 12px; WIDTH: 120px; wedisplay: block
}
#nav LI UL A:link {
	COLOR: #004488; TEXT-DECORATION: none
}
#nav LI UL A:visited {
	COLOR: #004488; TEXT-DECORATION: none
}
#nav LI UL A:hover {
	BACKGROUND: #004488; COLOR: #f3f3f3; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#nav LI:hover UL {
	LEFT: auto
}
#nav LI.sfhover UL {
	LEFT: auto
}
