*
{
	margin:0;
	padding:0;
}

body, input
{
	font-family:Tahoma;
	font-size:12px;
	color:#333;
}

.all
{
	width:1250px;
	margin:0 auto;
}

#top
{
	padding-top:30px;
}

#middle
{
	margin-top:15px;
	overflow:auto;
}

#bottom
{
	height:105px;
	margin-top:40px;
	line-height:30px;
	text-align:center;
	border-top:2px #8eec64 solid;
	color:#666;
}

.tabs
{
	position:relative;
	overflow:auto;
	list-style:none;
	margin-left:20px;
}

.tab-bot
{
	background:url('images/tab.gif') 0 -100px;
	height:4px;
	margin-top:-4px;
}

.tabs li
{
	font-size:18px;
	float:left;
	width:145px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:url('images/tab.gif') 0 -50px;
	margin-left:4px;
	color:#666;
	cursor:pointer;
}

.tabs li.sel, .tabs li:hover
{
	background:url('images/tab.gif');
	color:#fff;
}

.left
{
	float:left;
}

.tools
{
	width:89px;
	height:404px;
	background:url('images/tools.gif') no-repeat 0 20px;
	margin-left:15px;
	padding-left:12px;
	overflow:hidden;
}

.map1
{
	height:404px;
	width:728px;
	border:2px #85d262 solid;
	border-right:none;
}

.map2
{
	height:404px;
	width:389px;
	border:2px #85d262 solid;
	border-left:none;
}

.tools input
{
	width:80px;
	display:block;
	text-align:center;
}

.tools span
{
	display:block;
	text-align:center;
}

.tools input.op
{
	width:35px;
	display:inline;
	margin-right:5px;
}

.firstBtn
{
	margin-top:35px;
}

.m-left
{
	width:834px;
	margin-left:40px;
}

.m-right
{
	margin-left:5px;
	width:316px;
}

.map3
{
	width:834px;
	height:594px;
}

.title, .title1
{
	width:315px;
	height:40px;
	background:url('images/title.gif');
	color:#fff;
	line-height:40px;
	text-indent:10px;
	margin-top:20px;
}

.title1
{
	margin:0px 0 10px 24px;
}

.zoom
{
	position:relative;
	top:3px;
	font-size:18px;
	margin:0 40px 0 10px;
}

.navigator
{
	width:100px;
	height:30px;
}

.naviTable
{
	margin:10px auto 0;
}

.naviTable td
{
	height:30px;
}

.textBox
{
	width:200px;
}

.naviBtn
{
	width:60px;
	height:25px;
}

.earthBtn
{
	position:relative;
	top:1px;
	margin-left:10px;
}

.road
{
	width:300px;
	height:150px;
	margin:10px 6px;
}

.scroll
{
	margin:10px;
	height:150px;
}

.scrollCtrl
{
	text-align:right;
}

.scrollCtrl *
{
	margin:0 5px;
}

.com
{
	margin-bottom:10px;
}

.comment
{
	border-top:1px #BBB dashed;
	padding:8px 5px;
}

p.content
{
	margin:4px 0 0 30px;
}

.roadDiscript
{
	width:600px;
	height:300px;
	margin-left:24px;
}

.add
{
	margin:10px 0 0 540px;
	width:60px;
	height:30px;
	display:block;
}

.comTbl td
{
	height:30px;
}

.comTbl .add
{
	margin:10px 0 0 340px;
}

.margin24
{
	margin-left:24px;
}
.badNews
{
	width:400px;
	height:200px;
}

.marginTop40
{
	margin-top:40px;
}